/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    background: #2D25A0;

}
.player-section{
    background-color: white;
}
/* navbar */
.navbar{
    height: 30%;
    width: auto;
    background-color: #2D25A0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-form ul{
    list-style: none;
    display: flex;
}
.nav-form ul li{
    padding: 10px 30px;
}
.nav-form ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-form ul li a:hover{
    color: teal;
    text-decoration: none;
    font-size: 20px;
}
.login-form{
    background-color: #E02C6D;
    ;
    width: 10%;
    text-align: center;
}
.fas{
    font-size: 20px;
    color: white;
}
.login{
    width: 100%;
    height: 75%;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

/* first-part-with-banner */
.first-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headline{
    font-size: 40px;
    color: white;
}
.live{
    background-color: #E02C6D;
    width: 50%;
    text-align: center;
    margin-bottom: 90px;
}
.live a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.fas{
    font-size: 20px;
    color: white;
}
.first-part-right img{
    width: 500px;
    height: 500px;

}

/* second part */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    margin: 50px;
    justify-content: center;
}

.player-profile {
    margin: 30px;
    padding: 30px;
    box-shadow: 0px 0px 40px 0px #00000026
}
.player-profile:hover{
    border: 3px solid blue;
}
.player-profile img{
    width: 250px;
    height: 200px;
    padding-right: 5px;

}
/* ----
Highlights part
------- */
.last-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px;
}
.highlights{
    width: 60%;
}
.highlights h1{
    font-size: 40px;
}
.watch-now{
    background-color: #E02C6D;
    width: 20%;
    text-align: center;
}
.watch-now a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.fas{
    font-size: 20px;
    color: white;
}
.last-part-right img{
    width: 600px;
    height: 600px;
    margin-right: 50px;
}

/*----------
  bottom part
--------- */
.bottom-part{
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 50px;
}
